---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Astrojs from "./icons/Astrojs.astro"
import Wp from "./icons/Wp.astro"
import Acf from "./icons/Acf.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: Astrojs,
  },
  WP: {
    name: "Wordpress",
    class: "bg-black text-white",
    icon: Wp,
  },
  ACF : {
    name: "Advanced Custom Fields",
    class: "bg-black text-white",
    icon: Acf,
  },
}
const PROJECTS = [
  {
    title: "Portic (staging) - Web servicios del Puerto de Barcelona",
    description:
      "Web de servicios del Puerto de Barcelona, desarrollada en WordPress utilizando Advanced Custom Fields (ACF) para una gestión dinámica de contenidos.",
    link: "https://wordpress-1036748-3648744.cloudwaysapps.com/",
    // github: "https://github.com/pheralb/svgl",
    image: "/projects/portic.webp",
    tags: [TAGS.WP, TAGS.ACF],
  },
  {
    title: "Vamos - Web Institucional",
    description:
      "Web con contenido interactivo avanzado, desarrollada desde cero utilizando Astro y Tailwind CSS. ",
    link: "https://vamos.entrenamientoseden.com/",
    image: "/projects/vamos.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Technicoders (stagin) - Web Corporativa",
    description:
      "Sitio web corporativo para Technicoder, una empresa especializada en desarrollo y SEO. Construida con Next.js, Tailwind CSS y GSAP para lograr una experiencia visual dinámica y profesional que destaca la propuesta de valor de la empresa.",
    link: "https://technicoders-git-developer-federicos-projects-d947f557.vercel.app/",
    image: "/projects/technicoders.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    // PROJECTS.map(({ image, title, description, tags, link, github }) => (
    PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {/* {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )} */}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



